body{
    background-color: rgb(205, 175, 137);
}
#Logo{
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.adder{
    display: flex;
    justify-content: center;
  }
  
#myButton{
    background-color: rgb(231, 16, 206);
    color: rgb(5, 3, 2);
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    font-family: Arial,
    sans-serif;
    font-size: 13px;
  }
  
.newTask{
    top: 150px;
    width: 500px;
    margin-top: 5px;
    display: flex;
    justify-content: left;
}

#label{
    margin-top: 0px;
    padding-left: 100px;
    margin-bottom: 5px;
    font-family: Arial,
    sans-serif;
    font-size: 20px;
}

#newInputTask{
    margin-left: -225px;
    margin-top: 25px;
    font-family:sans-serif;
    width: 300px;
    background-color: rgb(205, 175, 137);
    height: 30px;
    border: none;
    border-bottom: 2px solid;
    outline:none;
    font-size: large;
}

.list{
    top: 150px;
    position: absolute;
    right: 20%;
    width: 500px;
    height: 700px;
    border: thin solid rgb(126, 100, 64);
}

.task{
    display: flex;
    margin-left: 20px;
    align-items: center;
    width: auto ;
}
.text{
    font-family:sans-serif;
    font-size:x-large;
    width: auto;
    height: auto;
    overflow: hidden;
    word-break: break-all;
    margin-left: 8px;
}

#checkbox{
    accent-color: rgb(143, 52, 176);
    width: 17px;
    height: 17px;
}